.previewCard {
  background: var(--color-surface-card);
  width: 100%;
  max-width: 62.5rem;
  padding: var(--scale-400);
  border-radius: var(--border-radius-md);
  gap: var(--scale-400);
  box-shadow: var(--shadow-base);
  display: flex;
  flex-direction: column;
  transition:
    transform var(--duration-interactive) var(--ease-interactive),
    box-shadow var(--duration-interactive) var(--ease-interactive);
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-md);
}

.pillsContainer {
  display: flex;
  gap: var(--scale-300) var(--scale-200);
  flex-wrap: wrap;
}

.textContainer {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--scale-600);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--scale-300);
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--scale-100);
}

.title {
  color: var(--color-text-headings);
  font-family: var(--font-family-text);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
}

.subtext {
  color: var(--color-text-placeholder);
}

.description {
  line-height: var(--line-height-paragraph-lg);
}

@media (min-width: 40rem) {
  .previewCard {
    padding: var(--scale-800);
    gap: var(--scale-700);
    flex-direction: row;

    &[data-side="right"] {
      flex-direction: row-reverse;
    }
  }

  .image {
    width: clamp(10rem, calc(100vw - 38rem), 18.75rem);
    flex-shrink: 0;
    align-self: flex-start;
  }
}
