.card {
  display: flex;
  align-items: center;
  gap: var(--scale-400);
  min-height: 10.25rem;
  padding: var(--scale-400) var(--scale-600);
  border-radius: var(--border-radius-sm);
  background: var(--color-surface-page);
  box-shadow: var(--shadow-base);
  max-width: fit-content;
}

.icon {
  width: var(--icon-size-large);
  height: var(--icon-size-large);
  flex: 0 0 auto;
}

.copy {
  display: flex;
  min-width: 0;
  flex-direction: column;
  gap: var(--scale-100);
}

.title {
  color: var(--color-text-headings);
  font-family: var(--font-family-text);
  font-size: var(--font-size-paragraph-lg);
  font-weight: var(--font-weight-bold);
  line-height: 1.75rem;
}

.description {
  max-width: 35ch;
  color: var(--color-text-body);
  font-family: var(--font-family-text);
  font-size: var(--font-size-paragraph-md);
  line-height: var(--line-height-paragraph-md);
}

@media (max-width: 30rem) {
  .card {
    align-items: flex-start;
    padding: var(--scale-400);
  }
}

.imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
