.pill {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: var(--scale-200) var(--scale-300);
  border-radius: var(--border-radius-full);
  background: var(--color-surface-highlight);
  border: 1px solid var(--color-border-highlight);
}

.text {
  display: block;
  color: var(--color-text-highlight);
  font-family: var(--font-family-text);
  font-size: var(--font-size-paragraph-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-paragraph-sm);
}

@media (max-width: 50rem) {
  .pill {
    padding: var(--scale-100) var(--scale-200);
  }

  .text {
    font-size: var(--font-size-paragraph-xsm);
    line-height: var(--line-height-paragraph-xsm);
  }
}
