.wrapper {
  padding: var(--scale-600);
  display: flex;
  flex-direction: column;
  gap: var(--scale-300);
  align-items: start;
  width: fit-content;
}

.linkWrapper {
  display: flex;
  align-items: center;
  gap: var(--scale-300);
}

.header {
  color: var(--color-text-placeholder);
  text-transform: uppercase;
}

.resumeLink {
  display: flex;
}

@media (max-width: 47.999rem) {
  .wrapper {
    width: calc(100% - 7rem);
    max-width: 18rem;
    padding: 0;
    gap: var(--scale-200);
  }

  .linkWrapper {
    flex-wrap: wrap;
  }

  .resumeLink {
    display: none;
  }
}
