.header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  color: var(--color-text-headings);
  font-family: var(--font-family-headings);
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}

.title {
  color: var(--color-text-placeholder);
  font-family: var(--font-family-headings);
  font-size: var(--font-size-paragraph-md);
  font-weight: var(--font-weight-bold);
}

@media (max-width: 47.999rem) {
  .name {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  .title {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
